

<div class="container" id="home-container">
  <div class="container-fluid text-sm-center text-white p-5 bg-secondary home-jumbotron">
      <h1 class="display-2">Alpha Blog</h1>
      <p class="lead">My Tech Blog...</p>
      <br>
      <button class="mt-3 btn btn-success btn-lg">
        <%= link_to "Sign Up...", signup_path,  class:"home-link text-white" %>
        <!-- <%= link_to "Sign Up (disabled)...", "#",  class:"home-link text-white" %> -->
      </button>
      <div>
        <br>
        <h4>Login credentials:</h3>
        <p>Username: arjuna</p>
        <p>Password: password </p>

      </div>
  </div>
</div>
